#nav.container
                    nav#navbar.navbar.w-100
                        a.navbar-brand.text-uppercase.m-0(href='#') 
                            img(src=images['logo.png'] alt="rematiptop")
                        i#open-menu.material-icons reorder
                        ul.nav.nav-pills
                            li.nav-item.d-flex.align-items-center
                                
                                a.nav-link.d-flex.align-items-center(href='#aboute') 
                                    i.material-icons account_balance
                                    span.ml-1 О компании
                            li.nav-item.d-flex.align-items-center
                                
                                a.nav-link.d-flex.align-items-center(href='#product') 
                                    i.material-icons shop
                                    span.ml-1 Продукция
                            li.nav-item.d-flex.align-items-center
                                                               
                                a.nav-link.d-flex.align-items-center(href="#video")
                                    i.material-icons videocam
                                    span.ml-1 Видео
                            li.nav-item
                                                               
                                a.nav-link.d-flex.align-items-center(href='#contact')
                                    i.material-icons room 
                                    span.ml-1 Контакты
                        
                        
            
            section#slider
                .container.fadeIn.wow
                    .row
                        .col-12.m-auto
                            #carouselExampleIndicators.carousel.slide(data-ride='carousel', data-interval="10000")
                                .carousel-inner
                                    .carousel-item.active
                                        a(href="http://vilparts.by/pages10")
                                            img.d-block.w-100.img-fluid(src=slider['1.jpg'], alt='Second slide')
                                   
                                    each val in slider
                                        .carousel-item
                                            a(href="http://vilparts.by/pages10")
                                                img.d-block.w-100.img-fluid(src=val, alt='First slide')
                                    
                                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                                    span.carousel-control-prev-icon(aria-hidden='true')
                                    span.sr-only Previous
                                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                                    span.carousel-control-next-icon(aria-hidden='true')
                                    span.sr-only Next
            
            section#product-about
                .container.fadeIn.wow
                
                            
                    .row
                        .col-sm-12.col-md-8
                            h3.my-2.p-1.text-uppercase.text-dark.border-header.text-center Виды продукции
                            #product.row
                                .col-12.d-flex.product
                                    
                                    .product-item
                                        a(href="http://vilparts.by/pages10")
                                            p.text-center ГРУЗОВИКИ И АВТОБУСЫ
                                            img.img-fluid(src=product['bus.jpg'], alt="")
                                        
                                    .product-item
                                        a(href="http://vilparts.by/pages10")
                                            p.text-center ВЕЛОСИПЕДЫ
                                            img.img-fluid(src=product['by.jpg'], alt="")
                                    
                                    .product-item
                                        a(href="http://vilparts.by/pages10")
                                            p.text-center АВТОМОБИЛИ
                                            img.img-fluid(src=product['ca.jpg'], alt="")
                                       
                                    
                                    .product-item
                                        a(href="http://vilparts.by/pages10")
                                            p.text-center СТРОИТЕЛЬНАЯ ТЕХНИКА
                                            img.img-fluid(src=product['ecs.jpg'], alt="")
                                        
                                    .product-item
                                        a(href="http://vilparts.by/pages10")
                                            p.text-center КОНВЕРНЫЕ ЛЕНТЫ
                                            img.img-fluid(src=product['len.jpg'], alt="")
                                    
                                    .product-item.mb-4
                                        a(href="http://vilparts.by/pages10")
                                            p.text-center МОТОЦИКЛЫ
                                            img.img-fluid(src=product['mot.jpg'], alt="")
                                    
                               
                                   
                        
                        #aboute.col-sm-12.col-md-4
                            h3.mt-2.p-1.text-uppercase.text-dark.border-header.text-center О Компании
                            p.px-2.text-justify.text-dark Наша компания была основана в 1914 году как производство ремонтных материалов для  велосипедов, направленных на эффективное использование ограниченных природных ресурсов. По мере развития  мы расширили нашу компанию и выпустили материалы для ремонта шин, охватывающие мотоциклы, легковые автомобили, грузовые автомобили, автобусы и тяжелое строительное оборудование. Мы разработали и разработали производственное оборудование, и мы создали согласованную систему для производства материалов для ремонта шин с использованием сырья. В результате мы являемся единственным производством материалов для ремонта шин в Японии. Наши продукты популярны и используются на японском рынке, а также экспортируются в более чем 60 стран.
                           
           
                        
                        

            #video
                .container.fadeIn.wow.bg-black.py-3.my-3
                    .row
                        .col-12.text-center
                            a.open-video-container.text-white.d-flex.align-items-center.justify-content-center(href="#")
                                i.material-icons.mr-1 play_circle_outline 
                                h3.text-center ВИДЕО
                    
                        .content-video.bg-light
                            .row
                                .col-xs-12.col-sm-6.col-md-4.my-2
                                    a.href(data='fv1')
                                       .img-video
                                            img.img-video.img-fluid(src=videoImg['fv1.jpg'], alt="")
                                        h6.my-1.border-header.py-2.text-center PLUG PATCH
                                .col-xs-12.col-sm-6.col-md-4.my-2
                                    a.href(data='fv1')
                                        .img-video
                                            img.img-video.img-fluid(src=videoImg['fv2.jpg'], alt="")
                                        h6.my-1.border-header.py-2.text-center MR+STEM
                                .col-xs-12.col-sm-6.col-md-4.my-2
                                    a.href(data='fv1')
                                        .img-video
                                            img.img-video.img-fluid(src=videoImg['fv3.jpg'], alt="")
                                        h6.my-1.border-header.py-2.text-center MR + Filler gum + Floater gum
                                .col-xs-12.col-sm-6.col-md-4.my-2
                                    a.href(data='fv1')
                                        .img-video
                                            img.img-fluid(src=videoImg['fv4.jpg'], alt="")
                                        h6.my-1.border-header.py-2.text-center POWER VALKASEAL
                                .col-xs-12.col-sm-6.col-md-4.my-2
                                    a.href(data='fv1')
                                        .img-video
                                            img.img-video.img-fluid(src=videoImg['fv5.jpg'], alt="")
                                        h6.my-1.border-header.py-2.text-center TUBE PATCH
                                .col-xs-12.col-sm-6.col-md-4.my-2
                                    a.href(data='fv1')
                                        .img-video
                                            img.img-video.img-fluid(src=videoImg['fv6.jpg'], alt="")
                                        h6.my-1.border-header.py-2.text-center ETSK
                                                 

            #contact.mb-5
                .container.fadeIn.wow
                    .row
                        .col-12.text-center
                            h3.my-2.p-1.text-uppercase.text-dark.border-header.text-center Контакты
                    
                    .row
                        .col-sm-12.col-md-4.text-left
                            .block.p-1
                                i.material-icons room
                                    span    Адресс:
                                ul
                                    li г. Минск, пр-т Независимости, д.177, 
                                    li пом. 3, комната 22
                            .block.my-4.p-1
                                i.material-icons perm_phone_msg
                                    span    Телефоны:
                                ul
                                        li тел./факс: +375 17 393-50-04
                                        li тел.: +375 17 393-50-05
                                        li МТС: +375 29 777-37-37
                                        li МТС +375 29 777-99-79
                                        li Velcom +375 29 117-37-37
                                        li Velcom +375 29 1111-661    
                            .block.mb-4.p-1
                                i.material-icons mail_outline
                                    span    Електронная почта:
                                ul
                                        li  e-mail: info@vilparts.by    
                               
                            .block.mb-4.p-1
                                i.material-icons access_time
                                    span    Время работы:
                                ul
                                    li пн-пт: с 9-00 до 17-00
                                    li выходной: суббота, воскресенье.
                        
                        .col-sm-12.col-md-8.text-left
                            iframe.p-1(src="https://yandex.ru/map-widget/v1/?um=constructor%3Abeba57ad0a130dcc69ff1356efd829ea1ef1edb8ba1d7350a01fbe1d9e62679f&amp;source=constructor" width="100%" height="555" frameborder="0")
            #site-map.container-fluide.bg-dark.pt-3.mt-3
                .container.bg-dark
                    .row.text-white
                        .col-sm-12.col-md-4.col-lg-3.mb-3
                            small
                                i.material-icons.text-white copyright
                                span  2018 г. egor1991mac@gmail.com            
                        .col-sm-12.col-md-4.col-lg-3.mb-3
                            p Телефоны:
                            small 
                                ul.mt-2
                                            li тел./факс: +375 17 393-50-04
                                            li тел.: +375 17 393-50-05
                                            li МТС: +375 29 777-37-37
                                            li МТС +375 29 777-99-79
                                            li Velcom +375 29 117-37-37
                                            li Velcom +375 29 1111-661
                      
                        .col-sm-12.col-md-4.col-lg-3
                            p Навигация:
                            small 
                                ul.mt-2
                                    li
                                        a.text-white(href='#aboute')  О компании
                                    li
                                        a.text-white(href='#product') Продукция
                                    li
                                        a.text-white(href='#price') Прайс
                                    li
                                        a.text-white(href='#contact') Контакты


                        
