#skills.row
  .col-md-6.col-sm-12.col-xs-12.d-flex.justify-content-sm-start.justify-content-md-end.align-items-center  
    h2.display-4  Мои навыки
  .col-md-6.col-sm-12.d-flex.align-items-center
    ul.skills
      li
        img(src=images['html.png'], alt="" width="30px" height="30px")
        span HTML
      li
        img(src=images['css.png'], alt="" width="30px" height="30px")
        span CSS
      li
        img(src=images['js.png'], alt="" width="30px" height="30px")
        span Javascript
      li
        img(src=images['git.png'], alt="" width="30px" height="30px")
        span Github
    ul.skills
      li
        img(src=images['webpack.png'], alt="" width="30px" height="30px")
        span Webpack
      li
        img(src=images['npm.png'], alt="" width="30px" height="30px")
        span Yarn,NPM
      li
        img(src=images['jade.png'], alt="" width="30px" height="30px")
        span Jade
      li
        img(src=images['sass.png'], alt="" width="30px" height="30px")
        span SASS