footer.container-fluid
    .logo-layout
        h2 mi tallent
        .sign_up.d-flex
            p sign up our newsletter
            .icon
                img(src=require('./img/social/mail.png'), alt="slider_facebook")
    hr
    .social-layout.d-flex
        .copy_right © 2018 MI Talent. Designed by Tranmautritam for Mass Impressions.
        .social.d-flex
            a(href="")
                img(src=require('./img/social/slider_facebook.png'), alt="slider_facebook")
            a(href="")
                img(src=require('./img/social/slider_instagram.png'), alt="slider_instagram")
            a(href="")
                img(src=require('./img/social/slider_youtube.png'), alt="slider_youtube")
            a(href="")
                img(src=require('./img/social/slider_twitter.png'), alt="slider_twitter")