#news.container-fluid
    .row.justify-content-center
        h2 Latest News
    .row
        .news_block
            .news_item 
                .img
                    img(src=require('./img/news.jpg'), alt="")
                .text
                    h3 5 Reasons To Keep Your Beauty Salon Reservation
                    .date 8 March, 2020
            .news_item 
                .img
                    img(src=require('./img/news1.jpg'), alt="")
                .text
                    h3 Benjamin Franklin Method Of Habit Formation
                    .date 8 March, 2020
            .news_item 
                .img
                    img(src=require('./img/news2.jpg'), alt="")
                .text
                    h3 29 Motivational Quotes For Business And Other Work Environments
                    .date 8 March, 2020
    .row.justify-content-between
        .left_block
            .featured
                    
                    img.img(src=require('./img/model2.jpg'),alt="")
                    .content
                        .text
                            img.button(src=require('./img/trending_play.png'), alt="")
                            .text_area        
                                h4.heading  Use Your Reset Button To Change Your Vibration
                                .date.text-white 8 March, 2020
                    .title trending
            .d-flex.flex-wrap.justify-content-between
                .small_block
                    img.img(src=require('./img/model.jpg'), alt="")
                    .text
                        p Dream Interpretation Common Symbols And Their Meanings
                        .date 8 March, 2020
                .small_block
                        
                            .slider_preview.owl-carousel.owl-theme
                                .preview
                                    img(src=require('./img/men1.jpg'), alt="")
                                .preview
                                    img(src=require('./img/men1.jpg'), alt="")
                                .preview
                                    img(src=require('./img/men1.jpg'), alt="")
                                .preview
                                    img(src=require('./img/men1.jpg'), alt="")
                            .button_play.d-flex
                                        img(src=require('./img/trending_play.png'), alt="")
                            .title PLAY ALL
                        
                        
                    
        .right_block
            .owl-carousel.owl-theme
                .slider_post
                    .img
                        img(src="", alt="")
                        
                    .text
                        p Motivation And Your Personal Vision An Unbeatable Force
                        .date 8 March, 2020
                .slider_post
                    .img.bg-black
                        img(src="", alt="")
                        
                    .text
                        p Motivation And Your Personal Vision An Unbeatable Force
                        .date 8 March, 2020 
                .slider_post
                    .img.bg-black
                        img(src="", alt="")
                        
                    .text
                        p Motivation And Your Personal Vision An Unbeatable Force
                        .date 8 March, 2020  
                .slider_post
                    .img.bg-black
                        img(src="", alt="")
                        
                    .text
                        p Motivation And Your Personal Vision An Unbeatable Force
                        .date 8 March, 2020                 