#tallent.container-fluid
    .row
        .col-12
            ul.filters
                li(data-filters="actor") 
                    a(href="#") Actor
                li(data-filters="musician") 
                    a(href="#") Musician
                li(data-filters="comedian") 
                    a(href="#") Comedian
                li(data-filters="men1") 
                    a(href="#") Model
    .row
        #gallery-tallent
            .item(data-tallent="comedian") 
                img(src=require('./img/women.jpeg'),alt="")
                .item-content
                    //img(src=require('./img/women.jpeg'),alt="")
                    .text
                        h3 Keith Ruiz
                        h4 comedian
                    .circle
            .item(data-tallent="comedian") 
                img(src=require('./img/men1.jpg'),alt="")
                .item-content
                    .text
                        h3 Keith Ruiz
                        h4 comedian
                    .circle
            .item(data-tallent="actor")
                img(src=require('./img/women.jpeg'),alt="")
                .item-content
                    .text
                        h3 Keith Ruiz
                        h4 comedian
                    .circle
            .item 
                img(src=require('./img/men1.jpg'),alt="")
                .item-content
                    .text
                        h3 Keith Ruiz
                        h4 comedian
                    .circle
            .item 
                img(src=require('./img/women.jpeg'),alt="")
                .item-content
                    
                    .text
                        h3 Keith Ruiz
                        h4 comedian
                    .circle
            .item 
                img(src=require('./img/men1.jpg'),alt="")
                .item-content
                    .text
                        h3 Keith Ruiz
                        h4 comedian
                    .circle
            .item 
                img(src=require('./img/women.jpeg'),alt="")
                .item-content
                    .text
                        h3 Keith Ruiz
                        h4 comedian
                    .circle
            .item 
                img(src=require('./img/men1.jpg'),alt="")
                .item-content
                    .text
                        h3 Keith Ruiz
                        h4 comedian
                    .circle
    .row.m-top.justify-content-center
        .button explore more